.thought-dialog {
    font-size: 18px;
    width: 450px;
}

.mat-typography{
    width:100%;
}

button {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .thought-dialog {
        width: 200px;
        text-align: center;
    }

}