<!--Desktop page-->
<div class="navbar">
    <mat-toolbar class="title" color='primary'>
        <span class="navbar-title">Penny For Your Thoughts</span>
        <span class="username">Welcome, {{user.name}}</span>
        <button mat-raised-button color="accent" class="logout-button" (click)="logout()">Logout</button>
    </mat-toolbar>
</div>

<div class="thoughts-container">
    <div class="my-thoughts">
        <div class="card-title">My thoughts</div>
        <div class="action-container">
            <button mat-raised-button color="accent" (click)="openDialog()" class="add-thought-btn">Add New Thought</button>
        </div>
        <ng-container *ngFor="let thought of myThoughtsList">
            <mat-card class="card">
                <div class="card-padding">
                    <mat-card-header>
                        <mat-card-title>{{thought.username}}</mat-card-title>
                        <mat-card-subtitle>{{thought.date | date:'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{thought.content}}</p>
                    </mat-card-content>
                </div>
                <div class="penny-text-container">
                    <p class="penny-text">{{thought.totalPennies}} pennies collected</p>
                </div>
            </mat-card>

        </ng-container>
    </div>

    <div class="latest-thoughts">
        <div class="card-title">Latest thoughts</div>
        <ng-container *ngFor="let thought of latestThoughtsList">
            <mat-card class="card">
                <div class="card-padding">
                    <mat-card-header>
                        <mat-card-title>{{thought.username}}</mat-card-title>
                        <mat-card-subtitle>{{thought.date | date:'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{thought.content}}</p>
                    </mat-card-content>
                </div>
                <div class="penny-container">
                    <p class="penny-text">{{thought.totalPennies}} pennies collected</p>
                    <button mat-raised-button color="accent" class="penny-btn" (click)="likeThought(thought)" *ngIf="!isLiked(thought)">+ €</button>
                    <button mat-raised-button color="disabled" class="penny-btn" *ngIf="isLiked(thought)" disabled><mat-icon>thumb_up</mat-icon></button>
                </div>
            </mat-card>
        </ng-container>
    </div>
</div>

<!--Mobile page-->
<div class="mobile-content">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="My Thoughts" class="latest-thoughts-label">
            <div class="my-thoughts-mobile">
                <div class="action-container">
                    <button mat-raised-button color="accent" (click)="openDialog()" class="add-thought-btn">Add New Thought</button>
                </div>
                <ng-container *ngFor="let thought of myThoughtsList">
                    <mat-card class="card">
                        <div class="card-padding">
                            <mat-card-header>
                                <mat-card-title>{{thought.username}}</mat-card-title>
                                <mat-card-subtitle>{{thought.date | date:'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{thought.content}}</p>
                            </mat-card-content>
                        </div>
                        <div class="penny-text-container">
                            <p class="penny-text">{{thought.totalPennies}} pennies collected</p>
                        </div>
                    </mat-card>
    
                </ng-container>
            </div>
        </mat-tab>

        <mat-tab label="Latest Thoughts">
            <div class="latest-thoughts-mobile">
            <ng-container *ngFor="let thought of latestThoughtsList">
                <mat-card class="card">
                    <div class="card-padding">
                        <mat-card-header>
                            <mat-card-title>{{thought.username}}</mat-card-title>
                            <mat-card-subtitle>{{thought.date | date:'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{thought.content}}</p>
                        </mat-card-content>
                    </div>
                    <div class="penny-container">
                        <p class="penny-text">{{thought.totalPennies}} pennies collected</p>
                        <button mat-raised-button color="accent" class="penny-btn" (click)="likeThought(thought)" *ngIf="!isLiked(thought)">+ €</button>
                        <button mat-raised-button color="disabled" class="penny-btn" *ngIf="isLiked(thought)" disabled><mat-icon>thumb_up</mat-icon></button>
                        </div>
                </mat-card>
            </ng-container>
        </div>
        </mat-tab>
    </mat-tab-group>
</div>

<router-outlet></router-outlet>

