.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-title {
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 400px;
  text-align: center;
}

.login-component,
.signup-component {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.login-component {
  height: 300px;
  width: 300px;
}

.signup-component {
  height: 300px;
  width: 300px;
}

.text-input {
  width: 100%;
  margin-top: 10px;
}

.login-button {
  width: 80%;
  margin-top: 10px;
}

.terms-checkbox { 
  margin-top: 20px;
}

.remember-checkbox {
  margin-top: 40px;
}

.visibility-button{
  position: absolute;
  right: 0px;
  margin-top: -15px;
}

