<div class="center-content">
    <mat-card class="card">
        <mat-card-header class="card-title">
            <mat-card-title>Penny For Your Thoughts</mat-card-title>
            <mat-card-subtitle>HSDS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTab">
                <mat-tab label="Login"  [routerLink]="['/login']">
                    <div class="login-component">
                        <mat-form-field class="text-input">
                            <mat-label>Email</mat-label>
                            <input required type="email" matInput [formControl]="loginEmail" [(ngModel)]="loginUser.email"
                                placeholder="Ex. john@example.com">
                            <mat-error *ngIf="!loginEmail.hasError('required')">
                                Invalid <strong>email</strong>
                            </mat-error>
                            <mat-error *ngIf="loginEmail.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="text-input">
                            <mat-label>Password</mat-label>
                            <input required type="password" [formControl]="loginPassword" (keyup.enter)="login()"
                                [(ngModel)]="loginUser.password" matInput placeholder="Password">
                            <mat-error *ngIf="!loginPassword.hasError('required')">
                                Invalid <strong>password</strong>
                            </mat-error>
                            <mat-error *ngIf="loginPassword.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-checkbox class="remember-checkbox" [(ngModel)]="rememberMe" [(indeterminate)]="indeterminate"
                        [labelPosition]="labelPosition" [disabled]="disabled">Remember me
                    </mat-checkbox>
                    <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
                </mat-tab>

                <mat-tab label="Sign Up" [routerLink]="['/signup']">
                    <div class="signup-component">

                        <mat-form-field class="text-input">
                            <mat-label>Full Name</mat-label>
                            <input type="text" [(ngModel)]="newUser.name" matInput placeholder="John Doe">
                        </mat-form-field>

                        <mat-form-field class="text-input">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="newUser.email"
                                placeholder="Ex. john@example.com">
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="text-input">
                            <mat-label>Password</mat-label>
                            <input type="password" [(ngModel)]="newUser.password" matInput placeholder="Password">
                        </mat-form-field>

                        <mat-form-field class="text-input">
                            <mat-label>Confirm Password</mat-label>
                            <input name="confirmPassword" type="password" [(ngModel)]="confirmPassword"
                                [formControl]="confirmPasswordFormControl" matInput placeholder="Password">
                            <mat-error *ngIf="confirmPasswordFormControl.hasError('doesNotMatchPassword')">
                                Should match <strong>password</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <a [routerLink]="['/terms']" target="_blank">See the terms and conditions</a><br>
                    <mat-checkbox class="terms-checkbox" [(ngModel)]="agreeTerms" [(indeterminate)]="indeterminate"
                        [labelPosition]="labelPosition" [disabled]="disabled" [checked]="checkbox"
                        (change)="checkbox = !checkbox">I agree with the terms
                    </mat-checkbox>
                    <button mat-raised-button color="primary" class="login-button" (click)="signUp()"
                        [disabled]="!checkbox">Register</button>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>

<router-outlet></router-outlet>