.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.card-title {
  justify-content: center;
  align-items: center;
}

.example-card {
  max-width: 360px;
  text-align: center;
}

.example-small-box,
.example-large-box {

  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 300px;
  width: 300px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.example-full-width {
  width: 100%;
  margin-top: 10px;
}

.login-button {
  width: 80%;
  margin-top: 10px;
}

